.bg-about{
    background-image: url(../../images/banner-top.png);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    @include media-breakpoint-down(md){
        background-size: 150%;
    }
    @include media-breakpoint-down(sm){
        background-size: 200%;
    }
}
.process-content{
    border-radius: 200px 0 200px 0;
    @include media-breakpoint-down(lg){
        border-radius: 100px 0 100px 0;
    }
}
.experience-list{
    li{
        background-image: url(../../images/banner-top.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
        line-height: 150px;
        border-radius: 100%;
        display: block;
        text-shadow: #FF4659 0.1em 0.1em 0.2em;
        @include media-breakpoint-down(md){
            width: 120px;
            height: 120px;
            line-height: 120px;
        }
    }
}