//全域共用
body{
    letter-spacing: .5px;
}
::selection{
    background-color: $primary;
    color: $white;
}

.bg-opacity-90{
    background-color: rgba(255,255,255,.9);
}

.subtitle-underline{
    border-bottom: 2px solid $primary; 
}

// navbar
.navbar-brand{
    img{
        height: 40px;
        @include media-breakpoint-down(md){
            height: 32px;
        }
    }
}