//intro
.intro{
    height: 90vh;
    overflow: hidden;
    position: relative;
}
.hero-img{
    background-image: url(../../images/bg-banner.svg);
    background-position: 0 0;
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-color: $pink-500;
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    transform: translate3d(0,0,0);
    animation: sprint 210s linear 0s infinite;
    @keyframes sprint {
        100%{
            transform: translate3d(-50%,0,0);
        }
    }
}
.bg-white-translucent{
    background-color: rgba(255,255,255, .8);
}
.headshot{
    width: 160px;
    box-shadow: 1px 1px 10px rgba(0,0,0, .2);
}

.hero-banner{
    background-image: url(../../images/bg-banner.svg);
    background-position: 0 0;
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-color: $pink-500;
    width: 200%;
    height: 100%;
}
.designer-box{
    min-width:750px;
    @include media-breakpoint-down(md){
        min-width: 90%;
        width: 90%;     
    }
}
//experience
.experience{
    overflow: hidden;
}
.timeline-wrap{
    position: relative;
    .timeline{
        position: absolute;
        top: 4px;
        left: 50%;
        border-left: 1px solid $primary;
        height: 105%;
        i{
            position: absolute;
            left: -9px;
            background: #fff;
            color: $primary;
        }
    }
}
.btn-reading{
    color: $gray-600;
    margin: 0;
    padding: 0;
}
//Self-growth
.bg-sign-light{
    background-color: $pink-500;
}

// feature
.feature-card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $pink-300;
    color: $gray-600;
    min-height: 300px;
    width: calc(100% / 3);
    border: 1px solid $white;
    @include media-breakpoint-down(md){
        width: 100%;
        min-height: 200px;
    }
    &:hover{
        background-color: $pink-500;
        transition: .4s all ease-in;
    }
    .title{
       span{
        display: block;
       } 
    }
}

// 
.process-group{
    .title{
        // background: rgba($primary, 20%);
        background: $primary;
    }
    > div{
        &:nth-child(1){
            .title{
                background: #E7D1C0;
            }
        }
        &:nth-child(2){
            .title{
                background: #D4B49D;
            }
        }
        &:nth-child(3){
            .title{
                background: #C19F7A;
            }
        }
    }
}
footer{
    .headshot{
        width: 50px;
    }
}