.gotop{
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: $zindex-fixed;
    font-size: 2.5em;
    color: $gray-500;
    transition: color .3s ease-in;
    border: none;
    background: none;
    &:hover{
        color: $gray-700;
    }
}