.item-hover{
    img{
        box-shadow: 5px 5px 10px rgba($black, 10%);
    }
    &:hover{
        img{
            box-shadow: 5px 5px 10px ($black, 30%);
            transition: .6s ease;
        }
    }
}